<span class="stock_age">
  <% age_level = stock.age.level -%>
  <%= link_to age_level, draw_game_path(@game, age_level: age_level) %>
</span>
<span class="stock_size">
  (<%= stock.cards.size %>)
</span>
