<% unless board.cards.empty? -%>
  <% if false -%>
    <% board.cards[0 .. -2].each do |card| -%>
      <div class="board_cards_h_expanded">
        <%= render partial: 'cards/left', locals: {card: card} %>
      </div>
    <% end -%>
  <% end -%>
  <div class="board_card">
    <%= render board.cards.last %>
  </div>
  <div class="board_cards_count">
    <%= "(#{board.cards.count})" %>
  </div>
<% end -%>
