<% unless board.cards.empty? -%>
  <% if false -%>
    <div class="board_cards_h_expanded">
      <div>石</div>
      <div class="middle"></div>
      <div>石</div>
    </div>
  <% end -%>
  <div class="board_card">
    <%= render board.cards.last %>
  </div>
<% end -%>
