.board_card_pile {
  display: flex;
  margin-left: 5px;
}

.board_card.v_expanded {
  display: flex;
  flex-flow: column nowrap;
}

.board_cards_v_expanded .card_bottom {
  margin-top: 0;
  border: 1px solid black;
}

.board_cards_h_expanded {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;

  div {
    flex: 1;
  }

  div.card_side_middle {
    flex: 5;
  }
}

.board_cards_underneath {
  margin-right: 10px;

  .cards_underneath {
    display: flex;
  }
}

.board_cards_count {
  span.board_cards_count_display {
    cursor: pointer;
  }
}
