td.red {
  color: white;
  background-color: red;
}

td.green {
  color: white;
  background-color: green;
}

td.blue {
  color: white;
  background-color: blue;
}

td.yellow {
  color: black;
  background-color: yellow;
}

td.purple {
  color: white;
  background-color: purple;
}

td.gray {
  color: white;
  background-color: gray;
}
