div.card {
  width: 80px;
  border: 1px solid black;
}

div.card_top, div.card_bottom {
  display: flex;

  div {
    flex: 1;
    text-align: center;
  }

  div.card_title {
    flex: 2;
  }
}

div.card_bottom {
  margin-top: 5px;
}
