.age {
  font-weight: bold;
}

.red {
  color: white;
  background-color: red;
}

.green {
  color: white;
  background-color: green;
}

.blue {
  color: white;
  background-color: blue;
}

.yellow {
  color: black;
  background-color: yellow;
}

.purple {
  color: white;
  background-color: purple;
}

.gray {
  color: white;
  background-color: gray;
}
