.stocks {
  display: flex;
  width: 500px;
}

.stock {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  margin-right: 2px;

  .stock_age {
    font-weight: bold;
  }
}

.boards {
  margin-top: 10px;
}

.board {
  display: flex;
  border: 1px solid black;
  margin-top: 5px;
}

.resource_counts td {
  height: 10px;
  padding: 0 3px;
  border-collapse: collapse;
}

.influences {
  margin-top: 5px;
}

.board_cards {
  display: flex;
}

.hands {
  margin-top: 10px;
}

.hand_player .show_hand {
  cursor: pointer;
}

.hand_cards {
  overflow: hidden;
}

.hand_cards.non_current {
  background-color: lightgray;
}

.hand_card {
  float: left;

  .card {
    margin-right: 5px;
  }
}

.actions {
  clear: left;
}
