.stocks {
  display: flex;
  width: 500px;
}

.stock {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  margin-right: 2px;

  .stock_age {
    font-weight: bold;
  }
}

span.player_name.turn {
  color: white;
  background-color: #606060;
}

.boards {
  margin-top: 10px;
}

.board_and_influence {
  margin-top: 5px;
}

.board {
  display: flex;
  border: 1px solid black;
}

.board.non_turn {
  background-color: lightgray;
}

.resource_counts td {
  height: 10px;
  padding: 0 3px;
  border-collapse: collapse;
}

.influences {
  margin-top: 5px;
  padding-right: 5px;

  .show_influence_cards {
    cursor: pointer;
  }
}

.player_conquests {
  margin-top: 5px;
}

.board_cards {
  display: flex;
}

.influence_cards {
  overflow: hidden;
}

.influence_card {
  float: left;
  background-color: lightpink;

  .card {
    margin-right: 5px;
  }
}

.hands {
  margin-top: 10px;
}

.hand_player .show_hand {
  cursor: pointer;
}

.hand_cards {
  overflow: hidden;
}

.hand_cards.non_turn {
  background-color: lightgray;
}

.hand_card {
  float: left;

  .card {
    margin-right: 5px;
  }
}

.hand_actions {
  clear: left;
}

.actions_and_conquests {
  display: flex;
}

.actions {
  margin-top: 20px;

  span {
    margin-right: 10px;
  }
}

.conquests {
  margin-top: 25px;
  margin-left: 50px;

  input[type="submit"]:disabled {
    color: red;
  }

  .age_conquests {
    display: flex;

    .age_conquest {
      margin-right: 15px;
    }
  }

  table.category_conquests {
    margin-top: 15px;

    td {
      padding: 5px;
    }

    td.col1 {
      white-space: nowrap;
    }

    td.col2 {
      width: 360px;
    }

    td.col3 {
      width: 180px;
    }
  }
}
