.stocks {
  display: flex;
  width: 500px;
}

.stock {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  margin-right: 2px;

  .stock_age {
    font-weight: bold;
  }
}

.boards {
  margin-top: 10px;
}

.board {
  border: 1px solid black;
  margin-top: 5px;
}

.hand {
  margin-top: 10px;
}

.hand_cards {
  display: flex;
}

.hand_card {
  flex: 1 0 content;

  .card {
    margin-right: 5px;
  }
}
